/*  -----------------
    Breakpoints
---------------------  */
/*  -----------------
    Colors
---------------------  */
/*  -----------------
    Typography
---------------------  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Erica+One&family=Passion+One:wght@700;900&display=swap");
/*  -----------------
   Animations
---------------------  */
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-30px) rotate(1800deg);
  }
  90% {
    transform: translateY(0px) rotate(3600deg);
  }
  95% {
    transform: translateY(-5px) rotate(3600deg);
  }
  100% {
    transform: translateY(0px) rotate(3600deg);
  }
}
@keyframes impact {
  0% {
    padding-bottom: 8px;
  }
  90% {
    padding-bottom: 8px;
  }
  95% {
    padding-bottom: 15px;
  }
  100% {
    padding-bottom: 8px;
  }
}
@keyframes impact2 {
  0% {
    top: 63px;
  }
  90% {
    top: 63px;
  }
  95% {
    top: 70px;
  }
  100% {
    top: 63px;
  }
}
/*  -----------------
    BASE STYLES
---------------------  */
html,
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  scroll-behavior: smooth;
  background: black;
}
@media (min-width: 1024px) {
  html,
  body {
    overflow: hidden;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 900 !important;
}

h1 {
  font-family: "Passion One", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
}

section {
  min-height: 50vh;
  height: 100%;
}
@media (min-width: 1024px) {
  section {
    height: 100vh;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .t-header {
    position: fixed;
    right: 3%;
    top: 40%;
    z-index: 20;
  }
}

.t-header-mobile {
  position: fixed;
  width: 100%;
  background-color: #FF3366;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
}

@media (min-width: 768px) {
  .t-nav {
    width: 10px;
    height: 40px;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px 5px;
    box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    z-index: 10;
    right: 0 !important;
    margin-left: auto;
    transition: all 0.4s;
  }
}
@media (min-width: 768px) {
  .t-nav__copy {
    color: white;
    position: absolute;
    font-weight: 900;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: none;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .t-nav:hover {
    width: 100px;
    background-color: #3399FF;
  }
  .t-nav:hover p {
    display: block;
    animation: appear 0.5s forwards linear;
  }
}
@media (min-width: 768px) {
  .t-nav.current {
    background-color: #3399FF;
  }
}

/* HOME */
#home {
  height: 100vh;
}
#home .t-content {
  width: 100%;
}
#home .t-brain {
  position: absolute;
}
#home .t-brain.one {
  left: 3%;
  top: 8%;
  width: 25%;
}
#home .t-brain.two {
  right: 11%;
  bottom: 2%;
  width: 12%;
  opacity: 0.8;
  display: none;
}
@media (min-width: 1024px) {
  #home .t-brain.two {
    display: block;
  }
}
#home .t-brain.three {
  right: -10%;
  top: -22%;
  width: 40%;
  transform: rotate(195deg) !important;
  opacity: 0.5;
}
@media (min-width: 376px) and (max-width: 1024px) {
  #home .t-brain.three {
    top: -6%;
  }
}
#home .t-brain.four {
  left: 8%;
  bottom: 8%;
  width: 5%;
  transform: rotate(247deg) !important;
  opacity: 0.15;
}
#home .t-title {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  bottom: 12%;
}
@media (max-width: 768px) {
  #home .t-title {
    text-shadow: -12px -10px 1px rgba(0, 0, 0, 0.9);
  }
}
@media (min-width: 768px) {
  #home .t-title {
    font-size: 5rem;
    letter-spacing: -4px;
  }
}
#home .t-title__txt {
  position: relative;
}
@media (min-width: 768px) {
  #home .t-title__txt {
    background-color: black;
    border: #fff 1px solid;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.9137254902);
    padding-inline: 60px;
    border-radius: 50px;
  }
}

/* ABOUT */
@media (min-width: 1024px) {
  #about {
    left: 100%;
  }
}
#about .t-brain {
  position: absolute;
}
#about .t-brain.one {
  left: 3%;
  bottom: 11%;
  width: 20%;
  display: none;
}
@media (min-width: 1024px) {
  #about .t-brain.one {
    width: 25%;
    display: block;
  }
}
#about .t-brain.two {
  right: 5%;
  width: 12%;
  top: 0;
}
@media (min-width: 768px) {
  #about .t-brain.two {
    top: 6%;
  }
}
@media (max-width: 1024px) {
  #about .t-content {
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  #about .t-content {
    width: calc(100% - 40px);
    margin-inline: auto;
  }
}
@media (min-width: 1600px) {
  #about .t-content {
    width: calc(100% - 160px);
  }
}
#about .t-image {
  margin-left: 0;
}
@media (max-width: 1024px) {
  #about .t-image {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  #about .t-image {
    margin-left: 4%;
  }
}
#about .t-info {
  position: relative;
  margin-top: -35%;
  color: white;
}
@media (min-width: 1024px) {
  #about .t-info {
    margin-top: 5%;
  }
}
@media (max-width: 1024px) {
  #about .t-info {
    width: 100%;
  }
}
#about .t-job {
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  #about .t-job {
    margin-bottom: 0;
  }
}
#about .t-job h3 {
  color: #3399FF;
}
#about .t-side-content {
  color: white;
  margin-bottom: 10%;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}
@media (min-width: 768px) {
  #about .t-side-content {
    flex-direction: row;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  #about .t-side-content {
    margin-top: 2%;
    margin-bottom: 1%;
  }
}
#about .t-sub-title {
  border-top: none;
  margin-block: 5%;
}
@media (min-width: 768px) {
  #about .t-sub-title {
    border-top: 10px solid #fff;
    margin-block: 0;
  }
}
#about .t-sub-title h2 {
  text-shadow: -2px 5px #FF3366;
  font-size: 7vw;
}
@media (min-width: 768px) {
  #about .t-sub-title h2 {
    font-size: 3vw;
  }
}
@media (min-width: 1024px) {
  #about .t-text {
    font-size: 15px;
  }
}
#about .t-text-container {
  position: relative;
  background-color: transparent;
  padding: 20px;
  border: 10px solid #3399FF;
  border-radius: 50px;
  height: auto;
  margin-top: 3%;
}
@media (min-width: 1024px) {
  #about .t-text-container {
    margin-top: -6%;
  }
}
#about .t-text-container::after {
  display: none;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 10px solid rgba(255, 255, 255, 0.11);
  border-radius: 50px;
  top: 20%;
  left: 10%;
}
@media (min-width: 1024px) {
  #about .t-text-container::after {
    display: block;
  }
}
#about .t-title {
  margin-left: 0%;
}
@media (min-width: 1024px) {
  #about .t-title {
    margin-left: -20%;
  }
}

/* WORK */
@media (min-width: 1024px) {
  #work {
    left: 200%;
  }
}
#work .t-brain {
  position: absolute;
}
#work .t-brain.one {
  left: 10%;
  top: 1%;
  width: 5%;
  display: none;
}
@media (min-width: 768px) {
  #work .t-brain.one {
    display: block;
  }
}
#work .t-brain.two {
  right: 5%;
  top: 9%;
  width: 10%;
}
@media (min-width: 768px) {
  #work .t-brain.two {
    width: 20%;
  }
}
#work .t-card {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 20px;
  border: 10px solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: all 0.4s;
  overflow: hidden;
  min-height: 350px;
  margin-bottom: 8%;
  box-shadow: 10px 15px 0px 0px rgba(255, 255, 255, 0.375);
  width: 100%;
  margin-inline: auto;
  border: 5px solid #fff;
  box-sizing: border-box;
}
@media (min-width: 375px) {
  #work .t-card {
    width: 70%;
    height: 50%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  #work .t-card {
    width: 85%;
  }
}
@media (min-width: 1024px) {
  #work .t-card {
    margin-bottom: 25%;
  }
}
#work .t-card:hover {
  cursor: pointer;
  box-shadow: 0px 15px #fff;
  transform: translateY(-30px);
}
@media (min-width: 768px) {
  #work .t-card:hover {
    transform: translateY(-50px);
  }
}
#work .t-card:hover .t-card__info {
  top: 0;
}
#work .t-card__fake-title {
  font-weight: 900;
  max-width: 100%;
  font-size: 0.75rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
  text-align: center;
  color: #000;
}
#work .t-card__headline {
  font-size: clamp(1.5rem, 6vw, 2rem);
  margin-bottom: 5%;
}
#work .t-card__info {
  position: absolute;
  content: "";
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  transition: all 0.4s;
}
#work .t-card__view-all-btn {
  background-color: #3399FF;
  border-radius: 100px;
  padding: 10px 25px;
  margin-top: 15%;
  transition: all 0.3s;
}
#work .t-card__view-all-btn:hover {
  background-color: #FF3366;
}
#work .t-cards-container {
  max-width: 1250px;
  width: 100%;
  margin-top: 8%;
}
@media (min-width: 768px) {
  #work .t-cards-container {
    margin-top: 0;
    margin-inline: auto;
    width: calc(100% - 80px);
  }
}
#work .t-image {
  margin-top: 0;
  margin-left: 24%;
}
@media (min-width: 1024px) {
  #work .t-image {
    position: absolute;
    z-index: -1;
    margin-top: -8%;
  }
}
#work .t-info {
  margin-top: -32%;
}
@media (min-width: 1024px) {
  #work .t-info {
    position: absolute;
    margin-top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
#work .swiper {
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-size: 34px;
  --swiper-pagination-bullet-size: 12.5px;
  --swiper-pagination-bullet-inactive-color: #fff;
  padding-top: 30px;
}
@media (min-width: 768px) {
  #work .swiper {
    padding-top: 50px;
  }
}
@media (min-width: 768px) {
  #work .swiper-slide {
    max-width: 50%;
  }
}
#work .swiper-wrapper {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
@media (min-width: 768px) {
  #work .swiper-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  #work .swiper-wrapper {
    flex-wrap: nowrap;
  }
}
#work .swiper-pagination {
  position: relative;
  display: none;
}
@media (min-width: 1024px) {
  #work .swiper-pagination {
    display: block;
  }
}

/* CONTACT  */
@media (min-width: 376px) and (max-width: 768px) {
  #contact {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  #contact {
    left: 300%;
  }
}
#contact .t-button {
  color: white;
  position: relative;
  border-bottom: 10px solid #3399FF;
  cursor: pointer;
}
#contact .t-button:hover {
  animation: impact 0.6s ease-in-out;
}
#contact .t-button:hover::after {
  animation: impact2 0.6s ease-in-out;
}
#contact .t-button:hover img {
  animation: jump 0.6s ease-in-out;
}
#contact .t-button::after {
  position: absolute;
  border-bottom: 10px solid #fff;
  content: "";
  top: 63px;
  left: 10px;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
#contact .t-title {
  margin-top: -18%;
  position: relative;
  z-index: 10;
}

/*  -----------------
   CLASS STYLES
---------------------  */
.swiper {
  width: 100%;
}

.swiper-slide {
  height: auto !important;
}

.t-view {
  position: relative;
}
@media (min-width: 1024px) {
  .t-view {
    position: absolute;
    top: 0;
  }
}

.overlay {
  color: white;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0%;
  background-color: black;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  overflow: hidden;
}
.overlay__close-btn {
  position: absolute;
  top: 12%;
  right: 2%;
  cursor: pointer;
  color: white;
}
@media (min-width: 375px) {
  .overlay__close-btn {
    top: 5%;
    right: 5%;
  }
}
.overlay__close-btn:hover svg {
  opacity: 1;
}
.overlay__close-btn svg {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}
.overlay__close-btn svg, .overlay__close-btn img {
  width: 60%;
}
@media (min-width: 375px) {
  .overlay__close-btn svg, .overlay__close-btn img {
    width: auto;
  }
}
.overlay__content {
  margin: auto;
  width: 100%;
  text-align: center;
}
.overlay__content h3 {
  font-size: 6vw;
}
@media (min-width: 375px) {
  .overlay__content h3 {
    font-size: 3vw;
  }
}
.overlay .t-brain {
  position: absolute;
  left: -20%;
  bottom: -12%;
  width: 50%;
}
@media (min-width: 576px) {
  .overlay .t-brain {
    left: -5%;
    bottom: -15%;
    width: 60%;
  }
}
@media (min-width: 768px) {
  .overlay .t-brain {
    left: -4%;
    bottom: -5%;
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .overlay .t-brain {
    left: -5%;
    bottom: -15%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .t-brain img {
    animation: float 1.25s ease-in-out infinite alternate;
  }
}

.t-icon-txt {
  background-color: #3399FF;
}

.t-icons a:hover > img {
  transform: scale(1.25);
}

.t-title {
  font-size: 18vw;
  color: white;
  text-shadow: -5px 8px rgba(0, 0, 0, 0.8);
}
@media (min-width: 1024px) {
  .t-title {
    font-size: 13vw;
  }
}

.t-project-title {
  color: #3399FF;
  font-size: 10vw;
  line-height: 1;
}
@media (min-width: 375px) {
  .t-project-title {
    font-size: 6vw;
  }
}

.t-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  padding: 20px;
}/*# sourceMappingURL=main.css.map */