@use 'abstracts/index' as *;
@use 'base/index' as *;
@use 'layout/index' as *;
@use 'pages/index' as *;;


/*  -----------------
   CLASS STYLES
---------------------  */

.swiper {
    width: 100%;
}

.swiper-slide{
    height: auto !important;
}

.t-view {
    position: relative;

    @include breakpoint(xl) {
        position: absolute;
        top: 0;
    }
}

.overlay {
    color: white;
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0%;
    background-color: black;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    overflow: hidden;

    &__close-btn {
        position: absolute;
        top: 12%;
        right: 2%;
        cursor: pointer;
        color: white;

        @include breakpoint(xs) {
            top: 5%;
            right: 5%;
        }

        &:hover {
            svg {
                opacity: 1;
            }
        }

        svg {
            position: absolute;
            top: 0;
            opacity: 0;
            transition: all .5s;
        }

        svg, img {
            width: 60%;
            @include breakpoint(xs) {
                width: auto;
            }
        }
    }

    &__content {
        margin: auto;
        width: 100%;
        text-align: center;

        h3 {
            font-size: 6vw;

            @include breakpoint(xs) {
                font-size: 3vw;
            }
        }
    }

    .t-brain {
        position: absolute;
        left: -20%;
        bottom: -12%;
        width: 50%;

        @include breakpoint(sm) {
            left: -5%;
            bottom: -15%;
            width: 60%;
        }
        
        @include breakpoint(md) {
            left: -4%;
            bottom: -5%;
            width: 60%;
        }

        @include breakpoint(xl) {
            left: -5%;
            bottom: -15%;
            width: 100%;
        }

        
    }
}

.t-brain {
    img {
        @include breakpoint(md) {
            animation: float 1.25s ease-in-out infinite alternate;
        }
    }
}

.t-icon-txt {
    background-color: $primary;
}

.t-icons a:hover>img {
    transform: scale(1.25);
}

.t-title {
    font-size: 18vw;
    color: white;
    text-shadow: -5px 8px rgba(0, 0, 0, .8);

    @include breakpoint(xl) {
        font-size: 13vw;
    }

    @include breakpoint(1800px) {
        font-size: 7rem;
    }
}

.t-project-title {
    color: $primary;
    font-size: 10vw;
    line-height: 1;

    @include breakpoint(xs) {
        font-size: 6vw;
    }
}

.t-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    padding: 20px;
}