@use "../abstracts" as *;



/* HOME */
#home {
    height: 100vh;

    .t-content {
        width: 100%;
        position: relative;
    }

    .t-brain {
        position: absolute;

        &.one {
            left: 3%;
            top: 8%;
            width: 25%;
        }

        &.two {
            right: 11%;
            bottom: 2%;
            width: 12%;
            opacity: .8;
            display: none;

            @include breakpoint(md) {
                display: block;
            }
        }

        &.three {
            right: -10%;
            top: -22%;
            width: 40%;
            transform: rotate(195deg) !important;
            opacity: .5;

            @media (min-width:376px) and (max-width:1024px) {
                top: -6%;
            }
        }

        &.four {
            left: 8%;
            bottom: 8%;
            width: 5%;
            transform: rotate(247deg) !important;
            opacity: .15;
        }
    }

    .t-title {
        position: absolute;
        bottom: -20%;
        right: 0;
        left: 0;
        z-index: 10;
        text-shadow: -5px 8px 10px rgba(0, 0, 0, .8);

        @include breakpoint(xl) {
            bottom: -32%;
        }

        @include breakpoint(xl, max) {
            font-size: 15vw;
        }
    }
}