@use "../abstracts" as *;

/* WORK */

#work {

    @include breakpoint(xl) {
        left: 200%;
    }
    
    .t-brain {
        position: absolute;

        &.one {
            left: 10%;
            top: 1%;
            width: 5%;
            display: none;

            @include breakpoint(md) {
                display: block;
            }

        }

        &.two {
            right: 5%;
            top: 9%;
            width: 10%;

            @include breakpoint(md) {
                width: 20%;
            }
            
        }
    }

    .t-card {
        position: relative;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding: 20px;
        border: 10px solid white;
        padding-top: 5%;
        padding-bottom: 5%;
        transition: all .4s;
        overflow: hidden;
        min-height: 350px;
        margin-bottom: 8%;
        box-shadow: 10px 15px 0px 0px rgba(#fff, .375);
        width: 100%;
        margin-inline: auto;
        border: 5px solid #fff;
        box-sizing: border-box;

        @include breakpoint(xs) {
            width: 70%;
            height: 50%;
            max-width: 100%;
        }

        @include breakpoint(md) {
            width: 85%;
        }

        @include breakpoint(xl) {
            margin-bottom: 25%;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 15px #fff;
            transform: translateY(-30px);

            @include breakpoint(md) {
                transform: translateY(-50px);
                
            }

            .t-card__info {
                top: 0;
            }
        }

        &__fake-title {
            font-weight: 900;
            max-width: 100%;
            font-size: .75rem;
            // letter-spacing: 2px;
            font-family:  $base-font;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 40px;
            text-align: center;
            color: $secondary-dark;
            // text-shadow: 2px 5px 5px rgba(0, 0,0,.25);
        }

        &__headline {
            font-size: clamp(1.5rem, 6vw, 2rem); // Adjust the min, preferred, and max font sizes
            margin-bottom: 5%;
        }

        &__info {
            position: absolute;
            content: "";
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            height: 100%;
            width: 100%;
            background: black;
            color: white;
            transition: all .4s;
        }

        &__view-all-btn {
            background-color: $primary;
            border-radius: 100px;
            padding: 10px 25px;
            margin-top: 15%;
            transition: all .3s;

            &:hover {
                background-color: $secondary;
            }
        }

    }

    .t-cards-container {
        max-width: 1250px;
        width: 100%;
        margin-top: 8%;

        @include breakpoint(md) {
            margin-top: 0;
            margin-inline: auto;
            width: calc(100% - 40px * 2);
        }

        @include breakpoint(1280px) {
            position: absolute;
            bottom: 0;
        }
    }

    .t-image {
        margin-top: 0;
        margin-left: 24%;

        @include breakpoint(xl) {
            margin-top: -8%;
        }
    }

    .t-info {
        margin-top: -32%;

        @include breakpoint(1800px) {
            margin-top: -25%;
        }
    }

    .swiper {
        --swiper-navigation-sides-offset: 0;
        --swiper-navigation-size: 34px;
        --swiper-pagination-bullet-size: 12.5px;
        --swiper-pagination-bullet-inactive-color: #{#fff};

        padding-top: 30px;

        @include breakpoint(md) {
            padding-top: 50px;
        }
    }

    .swiper-slide {
        @include breakpoint(md) {
            max-width: 50%;
        }
    }

    .swiper-wrapper {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 30px;

        @include breakpoint(md) {
            flex-direction: row;
        }

        @include breakpoint(xl) {
            flex-wrap: nowrap;
        }
    }

    .swiper-pagination {
        position: relative;
        display: none;

        @include breakpoint(xl) {
            display: block;
        }
    }
}
