/*  -----------------
   Animations
---------------------  */

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(30px);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-30px) rotate(1800deg);
    }

    90% {
        transform: translateY(0px) rotate(3600deg);
    }

    95% {
        transform: translateY(-5px) rotate(3600deg);
    }

    100% {
        transform: translateY(0px) rotate(3600deg);
    }
}

@keyframes impact {
    0% {
        padding-bottom: 8px;
    }

    90% {
        padding-bottom: 8px;
    }

    95% {
        padding-bottom: 15px;
    }

    100% {
        padding-bottom: 8px;
    }
}

@keyframes impact2 {
    0% {
        top: 63px;
    }

    90% {
        top: 63px;
    }

    95% {
        top: 70px;
    }

    100% {
        top: 63px;
    }
}
