/*  -----------------
    Breakpoints
---------------------  */

// Define your breakpoints as variables (optional)
$breakpoints: (
    xs: 375px, // Mobile
    sm: 576px, // Small tablets
    md: 768px, // Tablets
    lg: 992px, // Small laptops
    xl: 1024px // Desktops
);

/*  -----------------
    Colors
---------------------  */

$primary:#3399FF;
$secondary:#FF3366;
$secondary-dark:#000;
// $tertiary:;

/*  -----------------
    Typography
---------------------  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Passion+One:wght@700;900&display=swap');
// @import url('https: //fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Francois+One&family=Koulen&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$base-font: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font: 'Passion One', 'Roboto', Helvetica, Arial, sans-serif;;